<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <div id="weather-container">
        <h2>Weather Information</h2>
        <button onclick="getWeather('location')">Get Weather for Yogyakarta</button>
        <table border="1">
            <tr>
                <th>Lokasi</th>
                <th>Region</th>
                <th>Negara</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Waktu Lokal (Epoch)</th>
                <th>Waktu Lokal</th>
                <th>Suhu (°C)</th>
                <th>Kelembaban (%)</th>
                <th>Keadaan Cuaca</th>
                <th>Kecepatan Angin (kph)</th>
            </tr>
            <tr id="weather-info"></tr>
        </table>
    </div>

    <script>
        function getWeather(location) {
            fetch(`/weather?location=${location}`)
                .then(response => response.json())
                .then(data => {
                    // Proses dan tampilkan data cuaca di dalam tabel HTML
                    const weatherInfoContainer = document.getElementById('weather-info');
                    weatherInfoContainer.innerHTML = `
                        <td>${data.location.name}</td>
                        <td>${data.location.region}</td>
                        <td>${data.location.country}</td>
                        <td>${data.location.lat}</td>
                        <td>${data.location.lon}</td>
                        <td>${data.location.localtimeEpoch}</td>
                        <td>${data.location.localtime}</td>
                        <td>${data.current.tempC}</td>
                        <td>${data.current.humidity}</td>
                        <td>${data.current.condition.text}</td>
                        <td>${data.current.windKph}</td>
                    `;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
